body
  margin: 0
  padding: 0
  font-family: 'Roboto', sans-serif
  color: $text-color
  background: $body-gradient
  background-repeat: no-repeat

  &.sticky-footer
    display: flex
    flex-direction: column
    min-height: 100vh

    > main
      flex: 1
li
  list-style-type: none

a
  text-decoration: none
  color: $text-color
  transition: all 0.2s ease-in-out

  &:hover
    text-decoration: overline

.main-container
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  min-height: calc(100vh - 51px)

  h1
    flex: 0
    font-weight: normal
    font-size: 50px
    text-align: center

  .contact-container
    flex: 0

    ul
      display: flex
      align-items: center
      padding-left: 0

      li
        flex: 1 1 auto
        margin: 10px

        a
          display: block

        svg
          width: 30px
          height: 30px
          fill: $text-color

          #Codepen
            path,
            polygon
              stroke: $text-color !important

          #Github
            path
              fill: $text-color !important

.footer-link-container
  display: flex
  justify-content: flex-end

  a
    flex: 0 0 auto
    padding: 20px 10px
