main
  position: relative

.scene
  position: absolute
  top: 0
  right: 0
  width: 100vw
  height: 100vh
  li:first-child,
  li:nth-child(2)
    top: 50px !important
    left: 50px !important

  li:nth-child(3),
  li:nth-child(4)
    top: 50px !important
    right: 50px !important
    left: auto !important

  li:nth-child(5),
  li:nth-child(6)
    bottom: 50px !important
    left: 50px !important

  li:nth-child(7),
  li:nth-child(8)
    bottom: 50px !important
    right: 50px !important
    left: auto !important
    top: auto !important

  li:nth-child(9),
  li:nth-child(10)
    bottom: 50px !important
    left: 50px !important
    top: auto !important

  li:nth-child(11),
  li:nth-child(12)
    bottom: 200px !important
    right: 200px !important
    left: auto !important
    top: auto !important

.circle
  display: block

.circle-big
  width: 200px
  height: 200px
  border-radius: 100px

.circle-middle
  width: 150px
  height: 150px
  border-radius: 75px

.circle-small
  width: 100px
  height: 100px
  border-radius: 50px

.circle-blue
  background-color: rgba(173, 216, 230, 0.6)

.circle-orange
  background-color: rgba(255, 165, 0, 0.6)

.circle-yellow
  background-color: rgba(255, 255, 0, 0.6)
