header.header
  a.menu-toggle(href="", title="Go to Menu!")

.contact-container
  ul
    li  
      a(href="", title="Go to...")
        include ../../svg/027-linkedin-2.svg
    li  
      a(href="", title="Go to...")
        include ../../svg/019-xing-3.svg
    li    
      a(href="", title="Go to...") 
        include ../../svg/media.svg
    li  
      a(href="", title="Go to...") 
        include ../../svg/development.svg
    li  
      a(href="", title="Go to...")
        //- email
        include ../../svg/006-symbol.svg
    li  
      a(href="", title="Go to...") 
        include ../../svg/004-message.svg
