ul#scene.scene
  li.layer(data-depth-x='0.20', data-depth-y="-0.50")
    span.circle.circle-blue.circle-big
      
  li.layer(data-depth-x='0.20', data-depth-y="-0.50")
    span.circle.circle-orange.circle-middle

  li.layer(data-depth-x='0.40', data-depth-y="-0.70")
    span.circle.circle-yellow.circle-small
      
  li.layer(data-depth-x='0.20', data-depth-y="-0.50")
    span.circle.circle-blue.circle-middle

  li.layer(data-depth-x='0.80', data-depth-y="-0.30")
    span.circle.circle-orange.circle-big

  li.layer(data-depth-x='0.20', data-depth-y="-0.50")
    span.circle.circle-yellow.circle-small
  li.layer(data-depth-x='0.20', data-depth-y="-0.50")
    span.circle.circle-blue.circle-big
      
  li.layer(data-depth-x='0.20', data-depth-y="-0.50")
    span.circle.circle-orange.circle-middle

  li.layer(data-depth-x='0.40', data-depth-y="-0.70")
    span.circle.circle-yellow.circle-small
      
  li.layer(data-depth-x='0.20', data-depth-y="-0.50")
    span.circle.circle-blue.circle-middle

  li.layer(data-depth-x='0.80', data-depth-y="-0.30")
    span.circle.circle-orange.circle-big

  li.layer(data-depth-x='0.20', data-depth-y="-0.50")
    span.circle.circle-yellow.circle-small
