ul#scene.scene

  li.layer(data-depth-x='0.20', data-depth-y="-0.50")
    span.rectangle.rectangle-blue.rectangle-big.pos-2.rotating-10s
      
  li.layer(data-depth-x='0.20', data-depth-y="-0.50")
    span.rectangle.rectangle-lila.rectangle-middle.pos-3.rotating-15s

  li.layer(data-depth-x='0.40', data-depth-y="-0.60")
    span.rectangle.rectangle-yellow.rectangle-small.pos-4.rotating-20s

  li.layer(data-depth-x='0.20', data-depth-y="-0.50")
    span.rectangle.rectangle-lila.rectangle-middle.pos-5.rotating-15s
      
  li.layer(data-depth-x='0.20', data-depth-y="-0.50")
    span.rectangle.rectangle-blue.rectangle-middle.pos-6.rotating-10s

  li.layer(data-depth-x='0.80', data-depth-y="-0.30")
    span.rectangle.rectangle-lila.rectangle-big.pos-7.rotating-15s

  li.layer(data-depth-x='0.20', data-depth-y="-0.50")
    span.rectangle.rectangle-yellow.rectangle-small.pos-9.rotating-20s

  li.layer(data-depth-x='0.20', data-depth-y="-0.50")
    span.rectangle.rectangle-blue.rectangle-big.pos-8.rotating-10s

  li.layer(data-depth-x='0.20', data-depth-y="-0.50")
    span.rectangle.rectangle-blue.rectangle-middle.pos-10.rotating-10s
      
  li.layer(data-depth-x='0.20', data-depth-y="-0.50")
    span.rectangle.rectangle-lila.rectangle-middle.pos-11.rotating-15s

  li.layer(data-depth-x='0.40', data-depth-y="-0.70")
    span.rectangle.rectangle-yellow.rectangle-small.pos-12.rotating-20s
      
  li.layer(data-depth-x='0.20', data-depth-y="-0.50")
    span.rectangle.rectangle-blue.rectangle-middle.pos-4.rotating-10s

  li.layer(data-depth-x='0.80', data-depth-y="-0.30")
    span.rectangle.rectangle-lila.rectangle-middle.pos-7.rotating-15s

  li.layer(data-depth-x='0.20', data-depth-y="-0.50")
    span.rectangle.rectangle-yellow.rectangle-big.pos-1.rotating-20s

  li.layer(data-depth-x='0.20', data-depth-y="-0.50")
    span.rectangle.rectangle-blue.rectangle-middle.pos-10.rotating-10s
