doctype html
html(lang='en')
  include include/head

  body.sticky-footer
    main
      .main-container
        h1 Hello world! I'm Samuele Calamita, Italian Front-end Developer Berlin based!
        .contact-container
          ul
            li  
              a(href="", title="Go to...") Linkedin
            li  
              a(href="", title="Go to...") Xing
            li    
              a(href="", title="Go to...") Github
            li  
              a(href="", title="Go to...") Codepen
            li  
              a(href="", title="Go to...")
                include ../svg/006-symbol.svg
            li  
              a(href="", title="Go to...") 
                include ../svg/001-facebook-1.svg
                include ../svg/002-facebook.svg
                include ../svg/003-messenger-1.svg
                include ../svg/004-message.svg
                include ../svg/005-messenger.svg
                
    include include/footer
    include include/foot
