doctype html
html(lang='en')
  include include/head

  body.sticky-footer
    include include/header
    main
      include include/scene 
      .main-container
        h1 Hello world! I'm Samuele, Berlin based Italian Frontend Developer!
                
    include include/footer
    include include/foot
