doctype html
html(lang='en')
  include include/head

  body
    .main-container
      h1 Hello world! I'm Samuele Calamita, Italian Front-end Developer Berlin based!
      .contact-container
        ul
          li  
            a(href="", title="Go to...") Linkedin
          li  
            a(href="", title="Go to...") Xing
          li    
            a(href="", title="Go to...") Github
          li  
            a(href="", title="Go to...") Codepen
          li  
            a(href="", title="Go to...") Mail
          li  
            a(href="", title="Go to...") Messenger
      
    include include/footer
    include include/foot
